body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#222;
    color:white;
}

button{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

.inventory{
    margin-top:20px;
    border:1px solid white;
    padding:10px;
}
